html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: white;

  * {
    box-sizing: border-box;
  }
}

.main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
