<mat-card>
  <mat-toolbar color="accent">Criar Usuário</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="full-width">
      <mat-form-field>
        <input matInput placeholder="Nome*" formControlName="nome" />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("nome")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="CPF*"
          formControlName="cpf"
          mask="000.000.000-00"
        />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("cpf")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail*" formControlName="email" />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("email")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Celular*"
          formControlName="celular"
          mask="(00) 0 0000 0000"
          type="tel"
        />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("celular")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="sexo">
          <mat-option value="F">Feminino</mat-option>
          <mat-option value="M">Masculino</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getErrorMessage("sexo")
        }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      disabled="{{ !form.valid || this.isSubmitting }}"
      color="primary"
      type="submit"
      [ngClass]="this.isSubmitting ? 'loading' : ''"
      (click)="onSubmit()"
    >
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
